ion-toolbar {
  --background: var(--color-primary);
  --color: var(--color-highlight);

  ion-title {
    color: var(--color-highlight);
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  ion-menu-button {
    color: var(--color-highlight);
    --color: var(--color-highlight);
  }

  ion-buttons ion-icon {
    color: var(--color-highlight);
  }

  ion-icon {
    font-size: 34px;
    color: var(--color-primary);
  }
}

.no-box-shadow {
  box-shadow: none !important;
}