// Ionic base imports
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import 'swiper/swiper-bundle.css';


// Layout base
html,
body,
ion-app,
ion-router-outlet,
ion-page {
  height: 100%;
  box-sizing: border-box;
  font-family: var(--ion-font-family);
}

// Header
ion-header {
  padding-top: env(safe-area-inset-top);
  height: 56px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  z-index: 10;
}

// Contenuto principale
ion-content {
  --background: var(--ion-color-light);
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: env(safe-area-inset-bottom);
}

// Footer
ion-footer {
  padding-bottom: env(safe-area-inset-bottom);
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
  background: var(--ion-color-light);
}

// Tab Bar personalizzata
ion-tab-bar {
  --background: var(--ion-color-primary); // Bordeaux
  --color: var(--ion-color-secondary);
  --color-selected: var(--ion-color-secondary);
  --border: none;
}

// Icone
ion-icon {
  color: var(--ion-color-secondary); // Giallo ovunque
}

// Stile globale cards, buttons, list, box
.boxes-style {
  background: var(--color-background);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: var(--box-radius);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 1rem;
  margin-right: 1rem;

  &+.boxes-style {
    margin-top: 1rem;
  }
}

// Item edge-to-edge con solo indent interno
.boxes-style ion-item {
  --inner-padding-start: 1rem;
  --inner-padding-end: 1rem;
  --background: transparent;
  border-radius: 0;
}

// Header di lista
.boxes-style ion-list-header {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--color-text);
}

ion-button.boxes-style {
  --padding-top: 0.5rem;
  --padding-bottom: 0.5rem;
  --border-radius: var(--box-radius);
}

// Toast personalizzato
.custom-toast {
  --max-width: 280px;
  font-size: 1rem;
  --padding-start: 1.2rem;
  --padding-end: 1.2rem;
  --border-radius: var(--box-radius);
  text-align: center;
}

// Padding extra per pagine con tabs fissi
.with-floating-tabs {
  padding-bottom: var(--space-tabs);
}