<!-- src/app/home/home.page.html -->
<app-header [title]="'SoTourist'" [iconName]="'home-outline'" [showBackButton]="false" [box_shadow]="box_shadow">
</app-header>

<ion-content class="home-content" (ionScroll)="onScroll($event)" (ionScrollEnd)="onScrollEnd($event)" scrollEvents="true">

  <!-- Hero Espansa-------------------------------------------------------->
  <section #expandedHero class="hero" [class.invisibile]="(currentTrip || nextTrip) && isShrunk">
    <!--Hero con crea-->
    <div class="Hero-crea" *ngIf="!currentTrip && !nextTrip">
      <img src="assets/images/Amsterdam.jpeg" alt="Hero" class="hero-bg" />

      <div class="hero-overlay">
        <h1 class="hero-title">
          La tua prossima<br />avventura ti aspetta
        </h1>
        <p class="hero-subtitle">
          Scopri, pianifica e vivi esperienze uniche con SoTourist
        </p>

        <ion-button class="boxes-style cta-button" expand="block" (click)="openCreate()">
          Crea il tuo viaggio
        </ion-button>
      </div>
    </div>

    <!--Hero Viaggi-->
    <div class="Hero-Viaggi" *ngIf="currentTrip || nextTrip">
      <h2 class="hero-type-title">
          <span class="hero-type-blur-bg"></span>
          <span class="hero-type-text">
            {{ currentTrip ? 'Viaggio in corso' : 'Il tuo prossimo viaggio' }}
          </span>
      </h2>

      <img [src]="currentTrip ? currentTripCoverUrl : nextTripCoverUrl" alt="Hero" class="hero-bg"/>

      
      <h1 class="hero-title">
        {{ getFormattedCity(currentTrip || nextTrip) }}
      </h1>
      
      <p class="hero-subtitle">
        {{ (currentTrip || nextTrip)!.startDate | date:'d MMM' }} – {{ (currentTrip || nextTrip)!.endDate | date:'d
        MMM y' }}
      </p>

      <ion-button class="boxes-style cta-button" expand="block" (click)="openItinerary((currentTrip || nextTrip)!.itineraryId)">
        Vai all'itinerario
      </ion-button>

    </div>

  </section>

  <!-- HERO COMPATTA Solo viaggi -->
  <div #compactHero *ngIf="currentTrip || nextTrip" class="hero-compact" [class.visible]="isShrunk" (click)="onHeroClick()">
    <ng-container *ngIf="currentTrip || nextTrip">
      <div class="hero-itinerio">
        <img [src]="currentTrip ? currentTripCoverUrl : nextTripCoverUrl" class="compact-bg" alt="cover" />
        <div class="compact-overlay">
          <h2 class="compact-title">{{ getFormattedCity(currentTrip || nextTrip) }}</h2>
          <p class="compact-dates">{{ (currentTrip || nextTrip)!.startDate | date:'d MMM' }} – {{ (currentTrip || nextTrip)!.endDate | date:'d MMM y' }}
          </p>
        </div>
      </div>
      <div class="compact-tag">{{ currentTrip ? 'Viaggio in corso' : 'prossimo viaggio' }}</div>
    </ng-container>
  </div>

  <!-- Destinazioni trend -------------------------------------------------->
  <section class="trending">
    <div class="section-heading">
      <h2 class="section-title">Destinazioni trend</h2>
      <!--<ion-button fill="clear" size="small" (click)="openAll()">Vedi tutte</ion-button>-->
    </div>

    <div class="trending-scroll">
      <div class="boxes-style card" *ngFor="let city of trending" (click)="openCreate(city)">
        <img [src]="'assets/images/' + city + '.jpeg'" [alt]="city" />
        <div class="card-overlay">
          <span class="city">{{ city }}</span>
        </div>
      </div>
    </div>
  </section>

  <!-- Itinerari consigliati ---------------------------------------------->
  <section class="featured" >
    <h2 class="section-title">Itinerari consigliati</h2>

    <div class="featured-list">
      <ion-card class="boxes-style" *ngFor="let itin of featuredItineraries" (click)="openItinerary(itin.itineraryId)">
        <img [src]="getPhotoUrl(itin.coverPhoto)" alt="Cover" />
        <ion-card-header>
          <ion-card-title>{{ getFormattedCity(itin) }}</ion-card-title>
          <ion-card-subtitle>
            {{ getTripDays(itin) }} giorni · {{ itin.style }}
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </section>

  <!-- Citazione ----------------------------------------------------------->
  <section class="quote">
    <p class="quote-text">
      "Yesterday is history, tomorrow is a mystery, but today is a gift, that is why it is called the present."
    </p>
    <span class="quote-author">- Maestro Oogway </span>
  </section>

  <div class="with-floating-tabs"></div>
</ion-content>