<ion-content>
  <!--  MAPPA  -->
  <div #map id="map"></div>
  <app-navigation-bar [title]="getCurrentDayDate()" ></app-navigation-bar>

  <!-- WRAPPER DEI SELETTORI -->
  <div class="selectors-bar">
    <!-- Selettore giorno -->
    <div class="selector day-selector" (click)="toggleDayList()">
      <!-- <ion-icon name="calendar-outline" class="selector-icon"></ion-icon> -->
      Giorno {{ currentDay }}
      <ion-icon name="chevron-down-outline" [class.open]="dayListOpen" class="selector-arrow"></ion-icon>
    </div>

    <!-- Selettore parte del giorno -->
    <div class="selector time-selector" (click)="toggleTimeList()">
      <!-- <ion-icon name="time-outline" class="selector-icon"></ion-icon> -->
      {{ timeSlotLabel }}
      <ion-icon name="chevron-down-outline" [class.open]="timeListOpen" class="selector-arrow"></ion-icon>
    </div>
  </div>

  <!-- Dropdown Giorno -->
  <ion-list class="day-list" *ngIf="dayListOpen">
    <ion-item *ngFor="let d of days; let last = last" (click)="selectDay(d)" [class.active]="d === currentDay"
      [attr.lines]="last ? 'none' : null">
      Giorno {{ d }}
    </ion-item>
  </ion-list>

  <!-- Dropdown Time Slot -->
  <ion-list lines="full" class="time-list" *ngIf="timeListOpen">
    <ion-item (click)="selectTimeSlot('morning')" [class.active]="selectedTimeSlot === 'morning'">
      Mattina
    </ion-item>
    <ion-item (click)="selectTimeSlot('afternoon')" [class.active]="selectedTimeSlot === 'afternoon'">
      Pomeriggio
    </ion-item>
    <ion-item lines="none" (click)="selectTimeSlot('evening')" [class.active]="selectedTimeSlot === 'evening'">
      Sera
    </ion-item>
  </ion-list>

  <!--  DRAWER  -->
  <div class="drawer" [class.expanded]="drawerExpanded">

    <div class="handle"></div>
    <div class="cards" [ngClass]="{ 'horizontal': isDrawerCompact }" #cardsContainer>


      <app-luogo-card *ngFor="let p of todayPlaces; let i = index" [place]="p" [index]="i"
        [selected]="i === selectedIndex" [extends]="!isDrawerCompact" (clicked)="openPlace(i)">
      </app-luogo-card>

    </div>
  </div>

  <!--  MODALE DETTAGLIO  -->
  <ion-modal class="box-detail" [isOpen]="detailOpen" (ionModalDidDismiss)="detailOpen=false">
    <ng-template>
      <ion-card class="detail">
        <ion-img *ngIf="detail?.photoUrl" [src]="detail?.photoUrl"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ detail?.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Indirizzo:</strong><br>{{ detail?.address }}</p>
          <p *ngIf="detail?.rating"><strong>Rating:</strong> ⭐ {{ detail?.rating }}</p>
        </ion-card-content>
        <ion-button expand="block" color="primary" fill="outline" (click)="openInGoogleMaps()">
          Apri in Google Maps
        </ion-button>
        <ion-button expand="block" (click)="detailOpen=false">Chiudi</ion-button>
      </ion-card>
    </ng-template>
  </ion-modal>
  <div class="with-floating-tabs"></div>
</ion-content>