<app-navigation-bar title="Impostazioni" [backUrl]="'/tabs/settings'"></app-navigation-bar>

<ion-content class="ion-padding settings-content">
  <ion-list lines="inset" class="settings-boxes">
    
    <ion-list-header>Preferenze</ion-list-header>

    <!--<ion-item>
      <ion-icon name="notifications-outline" slot="start"></ion-icon>
      <ion-label>Notifiche</ion-label>
      <ion-toggle slot="end" [(ngModel)]="notificationsEnabled" (ionChange)="toggleNotifications()"></ion-toggle>
    </ion-item>-->

    <ion-item lines="none" class="dark-toggle-item"  [class.dark-mode-active]="!darkMode">
      <ion-icon [name]="darkMode ? 'moon' : 'sunny'" slot="start" class="dark-icon"></ion-icon>
      <ion-label>{{ darkMode ? 'Tema scuro' : 'Tema chiaro' }}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="darkMode" (ionChange)="toggleDarkMode()" class="dark-toggle"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="language-outline" slot="start"></ion-icon>
      <ion-label>Lingua</ion-label>
      <ion-select slot="end" interface="popover" [(ngModel)]="language" (ionChange)="changeLanguage()">
        <ion-select-option value="it">Italiano</ion-select-option>
        <!--<ion-select-option value="en">English</ion-select-option>-->
      </ion-select>
    </ion-item>

    <!--<ion-item lines="none">
      <ion-icon name="sync-outline" slot="start"></ion-icon>
      <ion-label>Sync automatica</ion-label>
      <ion-toggle slot="end" [(ngModel)]="autoSync" (ionChange)="toggleAutoSync()"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="lastSync">
      <ion-icon name="refresh-outline" slot="start"></ion-icon>
      <ion-label>Ultima sync: {{ lastSync | date:'short' }}</ion-label>
      <ion-button slot="end" size="small" (click)="manualSync()">Sync ora</ion-button>
    </ion-item>-->
  </ion-list>
</ion-content>
