.settings-boxes {
  background: var(--color-background);
  border-radius: 16px;

  & + .settings-boxes {
    margin-top: 1rem;
  }

  ion-item {
    --background: var(--color-background);
    --color: var(--color-text2);
  }

  ion-label {
    color: var(--color-text2);
  }

  ion-icon {
    color: var(--color-highlight);
  }

  ion-toggle {
    --handle-background: var(--color-highlight);
    --track-background: var(--color-background4);
  }

  ion-select {
    --color: var(--color-text2);
    --placeholder-color: var(--color-text2);
  }

  ion-button {
    --background: var(--color-background4);
    --color: var(--color-highlight);
  }
  ion-list-header {
    --color: var(--color-text);
     font-weight: bold;
     font-size: 1.1rem;
  }
}

.settings-content {
  background: var(--color-background2);
  color: var(--color-text2);
}


