SoTourist/Front-End/.editorconfig
SoTourist/Front-End/android
SoTourist/Front-End/.vscode
SoTourist/Front-End/node_modules/
SoTourist/Front-End/www/
SoTourist/Front-End/.idea
SoTourist/Front-End/.angular
SoTourist/Front-End/.browserslistrc
.DS_Store
