SoTourist/Front-End/.editorconfig
SoTourist/Front-End/android
SoTourist/Front-End/.vscode
SoTourist/Front-End/node_modules/
SoTourist/Front-End/www/
SoTourist/Front-End/.idea
SoTourist/Front-End/.angular
SoTourist/Front-End/.browserslistrc
SoTourist\Front-End/src/app/services/ip.config.ts
.DS_Store
SoTourist/Back-End/node_modules

Avvio server.bat


# Script Mac
SoTourist/Avvio SoTourist.app/Contents/Resources/InfoPlist.loctable
SoTourist/Avvio SoTourist.app/Contents/Resources/Assets.car
SoTourist/Avvio SoTourist.app/Contents/Resources/ApplicationStub.icns
SoTourist/Avvio SoTourist.app/Contents/MacOS/Automator Application Stub
SoTourist/Avvio SoTourist.app/Contents/Info.plist
SoTourist/Avvio SoTourist.app/Contents/document.wflow
SoTourist/Avvio SoTourist.app/Contents/_CodeSignature/CodeResources
SoTourist/Avvio SoTourist.app/Icon

.
Avvio server.bat
