.viaggi-content {
  --background: var(--color-background1);
  padding: 1rem 1rem 6rem; // padding inferiore per il FAB
}

.welcome-section {
  text-align: center;
  margin: 3rem 1rem 2rem;
  padding: 2rem 1.5rem;
  background: var(--color-background2);
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.04);
  animation: fadeIn 0.4s ease-in-out;
  border-left: 5px solid var(--color-highlight);
}

:host ::ng-deep ion-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
:host ::ng-deep ion-content::part(scroll)::-webkit-scrollbar {
  display: none !important;
}

.welcome-section h1 {
  color: var(--color-primary);
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.welcome-section p {
  color: var(--color-text2);
  font-size: 1rem;
  line-height: 1.4;
}

.logo {
  width: 72px;
  margin-bottom: 1rem;
  opacity: 0.95;
}

@keyframes fadeIn {
  0%   { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.custom-fab {
  right: 24px;
  bottom: 24px;
}

.viaggi-content app-trip-card {
  width: 100%;
  display: block;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media (max-width: 847px) {
    grid-template-columns: 1fr; // mobile: 1 colonna
  }

  app-trip-card,
  app-unfinished-card {
    width: 100%;
  }
}

.trip-section.current-trip {
  background-color: var(--color-current-trip-bg);
  border-left: 5px solid var(--color-highlight);
  padding: 1rem;
  border-radius: 12px;
  
  @media (min-width: 847px) {
    padding: 0;
  }
 
}

.trip-section{
  margin-bottom: 2rem;
  flex: 1;
  min-width: 0;
}

.Title_sezion{
  color: var(--color-title-viaggi);
  font-size: 1.25rem;
  font-weight: 800;
  padding-left: 12px;
}

.spacer {
  height: 135px; // o 100px se il FAB è più grande
}

.sticky-section {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--color-background1);
  padding-bottom: 1rem;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); // sottile separazione

  transition: box-shadow 0.3s ease;
}

.viaggiInCorsoImminente{
  @media (min-width: 847px) {
    display: flex;
    flex-wrap: wrap;         // ⬅️ permette di andare a capo
    gap: 0.5rem;
    justify-content: space-between; // distribuisce meglio

    > * {
      flex: 0 1 calc(50% - 0.25rem); // ⬅️ massimo due per riga
    }
  }
  
}


