
ion-tab-bar {
    --background: var(--color-primary) !important;       /* Bordeaux */
    --color: var(--color-highlight) !important;            /* Giallo per le icone non selezionate */
    --color-selected: var(--color-highlight) !important;   /* Giallo per le icone selezionate */
    
  }
  
  ion-tab-button {
    color: var(--color-highlight) !important;
  }
  
  ion-tab-button.ion-selected {
    color: var(--color-highlight) !important;
  }
  
  ion-tab-button ion-icon {
    color: var(--color-highlight) !important;
  }
  
  ion-tab-button.ion-selected ion-icon {
    color: var(--color-highlight) !important;
  }
  
  ion-tab-button ion-label {
    color: var(--color-highlight) !important;
  }
  
  ion-tab-button.ion-selected ion-label {
    color: var(--color-highlight) !important;
  }
  