ion-tab-bar {
  --background: var(--tabs-background) !important;
  --color: var(--tabs-icon) !important;
  --color-selected: var(--tabs-icon) !important;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  max-width: 400px;
  border-radius: var(--box-radius);
  height: 56px;
  padding: 0px 0;
  z-index: 100;
  gap: 12px;
  box-shadow: var(--box-shadow);
}

ion-tab-button {
  color: var(--tabs-icon) !important;
  flex-direction: column;
  --ripple-color: transparent;
}

ion-tab-button ion-icon {
  color: var(--tabs-icon) !important;
}

ion-tab-button ion-label {
  color: var(--tabs-icon) !important;
}

ion-tab-button.ion-selected {
  position: relative;
  z-index: 1;
}

ion-tab-button.ion-selected::before {
  content: '';
  position: absolute;
  padding: 8px 0 !important;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--tabs-select);
  border-radius: var(--box-radius);
  z-index: -1;
  transition: 0.3s ease;
}

ion-tab-button .airplane-icon {
  transform: rotate(-30deg);
}

.tab-with-tooltip {
  position: relative;
}

@media (hover: hover) and (pointer: fine) {
  .tab-with-tooltip::after {
    content: attr(data-label);
    position: absolute;
    top: 50%;
    margin-top: 9px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color:  var(--tabs-icon);
    padding: 4px 8px;
    font-size: 10px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
}

.tab-with-tooltip:hover::after {
  opacity: 1;
}

@keyframes tooltip-delay {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}