<ion-tabs>

  <ion-tab-bar slot="bottom">

    

    <ion-tab-button tab="home" href="/tabs/home" [class.ion-selected]="selectedTab === 'home'">
      <div class="tab-pill" *ngIf="selectedTab === 'home'"></div>
      <ion-icon [name]="'home-outline'"></ion-icon>
      <!--<ion-label>Home</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="viaggi" href="/tabs/viaggi" [class.ion-selected]="selectedTab === 'viaggi'">
      <div class="tab-pill" *ngIf="selectedTab === 'viaggi'"></div>
      <ion-icon [name]="'airplane-outline'" class="airplane-icon"></ion-icon>
      <!--<ion-label>Viaggi</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings" [class.ion-selected]="selectedTab === 'settings'">
      <div class="tab-pill" *ngIf="selectedTab === 'settings'"></div>
      <ion-icon [name]="'settings-outline'"></ion-icon>
      <!--<ion-label>Settings</ion-label>-->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>