:host {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#calendarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: transparent;
}

.litepicker {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  display: flex !important;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--color-background1);
    border: 3px dashed blue;

}

.litepicker .container__main,
.litepicker .container__months,
.litepicker .container__days {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

.litepicker-day-item.is-in-range,
.litepicker-day-item.is-start-date,
.litepicker-day-item.is-end-date {
  background-color: var(--color-highlight);
  color: var(--color-text);
}
::ng-deep .litepicker {
  width: 100% !important;
  max-width: 100% !important;
}
