:host {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// Wrapper principale che centra il calendario
.calendar-host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

// Contenitore interno del calendario, solo flex
#calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Override Litepicker (per centrare e customizzazioni)
::ng-deep .litepicker {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-family: 'Arial', sans-serif;
  border: none;
  border-radius: var(--box-radius) !important; 
  overflow: hidden;

  // Container dei mesi
  .container__months {
    background-color: var(--color-background1);
  }

  // Header del mese
  .month-item-header {
    background-color: var(--color-primary);
    color: var(--color-highlight) !important;
    font-weight: bold;
    border-top-left-radius: var(--box-radius) !important; 
    border-top-right-radius: var(--box-radius) !important; 
    overflow: hidden; 
  }

  // Giorni
  .day-item {
    color: var(--date-unlock) !important;

    &.is-locked {
      color: var(--date-lock) !important;
      border-radius: var(--box-radius) !important; 
      overflow: hidden;
    }

    &.is-today {
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
      border-radius: var(--box-radius); 
      overflow: hidden;
    }

    &.is-in-range {
      background-color: var(--color-highlight) !important;
      color: var(--color-primary2) !important;
    }

    &.is-in-range:nth-child(7n) {
      border-bottom-right-radius: var(--box-radius);
      border-top-right-radius: var(--box-radius);
      overflow: hidden;
    }

    &.is-in-range:nth-child(7n + 1) {
      border-bottom-left-radius: var(--box-radius);
      border-top-left-radius: var(--box-radius);
      overflow: hidden;
    }

    &.is-start-date,
    &.is-end-date {
      background-color: var(--color-primary) !important;
      color: var(--color-highlight) !important;
    }

    &.is-end-date:nth-child(7n + 1),
    &.is-start-date {
      border-bottom-left-radius: var(--box-radius) !important;
      border-top-left-radius: var(--box-radius) !important;
      overflow: hidden;
    }

    &.is-start-date:nth-child(7n),
    &.is-end-date {
      border-bottom-right-radius: var(--box-radius) !important;
      border-top-right-radius: var(--box-radius) !important;
      overflow: hidden;
    }

    &:hover {
      background-color: var(--color-highlight);
      color: var(--color-primary2);
      box-shadow: rgba(var(--color-primary), 1)!important;
      border-radius: var(--box-radius); 
      overflow: hidden;
    }
  }
}

// Frecce del calendario
::ng-deep .litepicker .button-previous-month svg path,
::ng-deep .litepicker .button-next-month svg path {
  fill: var(--color-highlight) !important;
  font-size: 1.4rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

::ng-deep .litepicker .button-previous-month:hover svg path,
::ng-deep .litepicker .button-next-month:hover svg path {
  fill: var(--giallo-selezione) !important;
}