:root {
    --color-primary: #7B1E1E;
    --color-highlight: #FFCC00;
    --color-background: #ffffff;
    --color-text: #000000;
  }
  
  /* Tema scuro */
  .dark-theme {
    --color-primary: #FFCC00;      /* giallo per invertire */
    --color-highlight: #7B1E1E;    /* bordeaux come accento */
    --color-background: #121212;
    --color-text: #ffffff;
  }