:host {
  --ion-item-background: var(--color-background2);
  --ion-text-color: var(--color-text);
  --ion-color-primary: var(--color-highlight);
}

.settings-content {
  --padding-bottom: calc(var(--ion-safe-area-bottom, 0px) + 56px + 1rem);
}

// Card profilo
.profile-card {
  padding: 1rem !important;
  display: flex;
  background: var(--color-background);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: center;
  }
  @media (min-width: 847px) {
    align-items: center;
    justify-content: center;
  }
}

app-profile-icon {
  margin-right: 3.5rem;
}

// Badge
ion-badge {
  margin-left: auto;
  border-radius: 12px;
  font-weight: bold;
}

.premium-button,
.logout-button {
  margin-top: 1rem;
  --background: var(--color-primary);
  --color: #ffffff;
}

.premium-button:hover,
.logout-button:hover {
  --background: var(--tabs-select);
}

// Badge abbonamento
.badge-premium {
  --background: #7B1E1E;
  --color: #FFD700;
}

.badge-gold {
  --background: #FFD700;
  --color: #7B1E1E;
}

.badge-standard {
  --background: #cccccc;
  --color: #333;
}

.modal-title {
  color: var(--color-text);
  font-weight: bold;
}

.Tex-versione {
  color: var(--color-text2);
}

// Modal stile
ion-modal.about-modal::part(content) {
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  --background: var(--color-background);
}

// Stile alert logout personalizzato
.custom-logout-alert {
  &::part(alert-wrapper) {
    --background: #fff;
    --border-radius: 16px;
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
  &::part(header) {
    color: #7B1E1E;
    font-weight: bold;
    font-size: 18px;
  }
  &::part(message) {
    color: #333;
    font-size: 16px;
  }
  &::part(button):first-child {
    background: #f2f2f2;
    color: #7B1E1E;
    border-radius: 10px;
  }
  &::part(button):last-child {
    background: #FFCC00;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
  }
}