:root {
  --ion-color-primary: #7B1E1E;
  --ion-color-primary-rgb: 123, 30, 30;
  --ion-color-primary-contrast: #FFCC00;
  --ion-color-primary-contrast-rgb: 255, 204, 0;

  --ion-color-secondary: #FFCC00;
  --ion-color-secondary-rgb: 255, 204, 0;
  --ion-color-secondary-contrast: #7B1E1E;
  --ion-color-secondary-contrast-rgb: 123, 30, 30;

  --ion-color-light: #dbdbdb;

  --color-primary: #7B1E1E;
  --color-primary2: #4F1212;
  --color-highlight: #FFCC00;

  --color-background: #ffffff;
  --color-background1: #f9f9f9;
  --color-background2: #f9f9f9;
  --color-background3: #f9f9f9;
  --color-background4: #cdcdcd;
  --color-background-evid: #7B1E1E;
  --color-background-grad1: rgb(254, 252, 240) 20%;
  --color-background-grad2: rgb(255, 231, 175) 80%;
  
  --ion-font-family: "Arial", sans-serif;
  
  --color-text: #7B1E1E;
  --color-text1: #7B1E1E;
  --color-text2: #000000;
  --color-text-evid: #f9f9f9;
  --color-title-viaggi: #4F1212;

  --color-current-trip-bg: #FFF5E5; 

  --tabbar-height: 50px; //padding-bottom footer

  --overlay-blur-bg: rgba(255, 255, 255, 0.35);
}

/*tema scuro*/
.dark{
  --ion-color-primary: #4F1212;
  --ion-color-primary-rgb: 123, 30, 30;
  --ion-color-primary-contrast: #CC9900;
  --ion-color-primary-contrast-rgb: 255, 204, 0;

  --ion-color-secondary: #CC9900;
  --ion-color-secondary-rgb: 255, 204, 0;
  --ion-color-secondary-contrast: #4F1212;
  --ion-color-secondary-contrast-rgb: 123, 30, 30;

  --ion-color-light: #434343;

  --color-primary: #4F1212;
  --color-primary2: #7B1E1E;      
  --color-highlight: #CC9900; 
  
       
  --ion-font-family: "Arial", sans-serif;

  --color-background: #1a1a1a;       /* Sfondo principale, più chiaro */
  --color-background1: #1a1a1a;
  --color-background2: #0a0a0a;      /* Card, riepilogo, box: più scuri */
  --color-background3: #0a0a0a;
  --color-background4: #2a2a2a;
 
  --color-background-evid:  #4F1212 ;
  --color-background-grad1: #2f2f2f 10%;
  //--color-background-grad2: #202020 70%;
  
  --color-text: #FFCC00;
  --color-text1: #FFCC00;
  --color-text2: #FFCC00;
  --color-text-evid: #FFCC00;
  --color-title-viaggi: #FFCC00;      /* header e domande */

  --color-current-trip-bg: #2A1E00;
   
  --tabbar-height: 50px; //padding-bottom footer
  --overlay-blur-bg: rgba(0, 0, 0, 0.35);
}