

.avatar-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: linear-gradient(to bottom, var(--color-background1), var(--color-background3));
  padding: 2rem;
}

.form-block {
  background: var(--color-background2);
  padding: 2rem;
  border-radius: var(--box-radius);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ion-input {
    --background: var(--color-background);
    --color: var(--color-text1);
    --border-radius: var(--box-radius);
    --padding-start: 2rem !important; 
    --highlight-color-focused: var(--color-primary);
    --border-color: var(--color-text2);
    --padding-start: 1rem;
    --padding-end: 1rem;
    
  }

  ion-button {
    margin-top: 1rem;
    --border-radius: var(--box-radius);
  }
  
}

.register-button {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--color-primary);
  text-align: center;
}

//logo
.logo-img {
  text-align: center;
  //margin-top: 2rem;
  margin-bottom: 1.5rem;
  

  img {
    background-color: var(--color-primary);
    border-radius: 26px;
    //max-width: 00px;
    height: auto;
  }
}