<!-- <ion-content class="map-page-content" fullscreen>

  <div class="content-wrapper">
    
    <div class="places-list">
      <ion-card 
        class="place-card" 
        *ngFor="let item of sidebarItems"
        (click)="openDetailModal(item)"
      >
        <ion-img
          *ngIf="item.photo; else placeholder"
          [src]="item.photo"
          class="sidebar-photo"
        ></ion-img>
        <ng-template #placeholder>
          <div class="sidebar-photo placeholder">📍</div>
        </ng-template>

        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="place-address">{{ item.address }}</div>
          <div *ngIf="item.rating" class="place-rating">⭐ {{ item.rating }}</div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleMapView()" [color]="showMap ? 'primary' : 'medium'">
      <ion-icon name="map-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-modal
    [isOpen]="showDetail"
    (ionModalDidDismiss)="closeDetail()"
    backdropDismiss="true"
    [breakpoints]="[0, 0.9]"
    initialBreakpoint="0.9"
    cssClass="detail-modal"
  >
    <ng-template>
      <ion-card *ngIf="modalPlace" class="detail-card">
        <ion-img
          *ngIf="modalPlace.photo"
          [src]="modalPlace.photo"
          class="detail-img"
        ></ion-img>
        <ion-card-header>
          <ion-card-title>{{ modalPlace.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="detail-content">
          <p><strong>Indirizzo:</strong> {{ modalPlace.address }}</p>
          <p><strong>Rating:</strong> ⭐ {{ modalPlace.rating }}</p>
          <p>
            <strong>Spesa stimata:</strong>
            {{ priceLevelMap[modalPlace.price_level!] }}
          </p>
          <p>
            <strong>Descrizione:</strong><br />
            {{ modalPlace.description }}
          </p>

          <ion-list *ngIf="modalPlace.reviews?.length">
            <ion-list-header>Recensioni</ion-list-header>
            <ion-item *ngFor="let rev of modalPlace.reviews">
              <ion-label>
                <strong>{{ rev.author }}</strong> - ⭐ {{ rev.rating }}<br />
                <em>{{ rev.text }}</em>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
        <ion-button expand="block" (click)="closeDetail()">Chiudi</ion-button>
      </ion-card>
    </ng-template>
  </ion-modal>

</ion-content> -->

<ion-content>
  <div class="map-container-overlay">
    <div #mapEl id="map"></div>
  </div>

  <div class="card-drawer" [class.expanded]="drawerExpanded">
    <div class="drawer-handle-area" (click)="toggleDrawer()">
      <div class="drawer-handle" (click)="toggleDrawer()"></div>
    </div>

    <div #drawerContent class="drawer-content" [ngClass]="{ 'horizontal': !drawerExpanded }">
      <ion-card
        *ngFor="let item of sidebarItems; let i = index"
        class="place-card"
        #placeCard
        [class.selected]="i === selectedPlaceIndex"
        (click)="openDetailModal(item)"
      >
        <ion-img
          *ngIf="item.photo; else placeholder"
          [src]="item.photo"
          class="sidebar-photo"
        ></ion-img>
        <ng-template #placeholder>
          <div class="sidebar-photo placeholder">📍</div>
        </ng-template>
    
        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          <div class="place-address">{{ item.address }}</div>
          <div *ngIf="item.rating" class="place-rating">⭐ {{ item.rating }}</div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>