$pill-phone: 690px; //entro quando i pulsanti crea e storico stanno sopara la tabs


.viaggi-content {
  --background: var(--color-background4);
}

.viaggi-content-div {
  background: var(--color-background4);
  height: 100vh;
}


/* nascondo la scrollbar default */
:host ::ng-deep ion-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:host ::ng-deep ion-content::part(scroll)::-webkit-scrollbar {
  display: none !important;
}




.user-box {
  position: fixed;
  display: flex;
  align-items: center;
  height: 114px;
  padding: 1rem;
  background-color: rgba(var(--color-background-rgb), 0.8); //var(--color-background);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3px);

  border-bottom-left-radius: var(--box-radius);
  border-bottom-right-radius: var(--box-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  gap: 1rem;
  z-index: 9999;
  //margin: 1rem;
  width: 100%;

  .hero-user{
    display: flex;
    flex-direction: column;   
    align-items: center;
    margin: auto;

    .profile-img {
      flex-shrink: 0;
    }
    .username {
      margin: 0 0 0.4rem;
      font-size: 1.2rem;
      color: var(--color-text1);
    }
  }

  .user-info {
    flex-grow: 1;


    .user-stats {
      display: flex;
      gap: 1rem;

      .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;

        ion-icon {
          font-size: 1.7rem;
          color: var(--color-text1);
        }

        span {
          font-weight: bold;
          font-size: 1rem;
          color: var(--color-text1);
        }

        small {
          font-size: 0.75rem;
          color: var(--color-text1);
        }
      }
    }
  }
}

.space-ander-hero{
  height: 114px;
  border-bottom-left-radius: var(--box-radius);
  border-bottom-right-radius: var(--box-radius);
  background-color: var(--color-background);
}




/* HERO ESPANSA *///copia incolla tutto il commento

/*.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
  text-align: center;
}

.trip-type {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.hero-title {
  font-size: 2.5rem;
  margin: 0;
}

.hero-dates,
.hero-accommodation {
  font-size: 1.2rem;
  margin-top: 8px;
}

.button-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.hero-button-main {
  --background: var(--color-highlight);
  color: black;
}

.hero-button-del {
  --color: red;
}

/* HERO ESPANSA */ 
/*.hero-wrapper {
  position: relative;
  width: 100%;
  height: 30vh;
  border-bottom-left-radius: var(--box-radius);
  border-bottom-right-radius: var(--box-radius);
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hero-wrapper.hidden {
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;
}*/

/* HERO COMPATTA migliorata */
/*.hero-compact {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  background: var(--color-background);
  display: flex;
  align-items: center;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  z-index: 998;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.hero-compact.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


.compact-bg {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.compact-overlay {
  display: flex;
  flex-direction: column;
}

.compact-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-primary);
}

.compact-dates {
  font-size: 0.95rem;
  color: var(--color-text2);
  margin-top: 2px;
}*/

/* CONTENUTO SOTTO */
.trip-section {
  margin-bottom: 2rem;
}

.Title_sezion {
  color: var(--color-title-viaggi-generale);
  font-size: 1.3rem;
  font-weight: 800;
  text-align: center;
  margin: 1.5rem 0 1rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media (max-width: 847px) {
    grid-template-columns: 1fr;
  }
}

.viaggi-content app-trip-card,
.viaggi-content app-unfinished-card {
  width: 100%;
  display: block;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  height: 85vh; 

  padding: 2rem;
  text-align: center;

  img.logo {
    width: 250px;
    max-width: 50vw; 
    margin-bottom: 1.5rem;
  }

  h1 {
    color: var(--color-primary);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--color-text2);
    font-size: 1rem;
    max-width: 90%;
  }
}

.button-crea-indicazione{
  vertical-align: middle;
  margin: 0 0.1rem;
  font-size: 1.2em;
  background: var(--color-primary);
  border-radius: 999px;
  padding: 2px;
}

.spacer{
  height: var(--space-tabs);

  @media screen and (max-width: $pill-phone) {
    height: calc(var(--space-tabs) + 50px);
  }
  
}

.hero-buttons{
  --background: var(--color-primary);
  --color: var(--color-highlight);
  font-size: 1rem;
  font-weight: 800;
  height: 52px;
  position: absolute;
  bottom: 20px;
  left: 16px;
  right: 16px;
}

/* FAB */
.custom-fab {
   display: flex;
  justify-content: center;
  margin-top: 24px;

  // MOBILE: fisso in basso a destra
  @media screen and (max-width: $pill-phone ) {
    position: fixed;
    bottom: 16px;
    right: 16px;
    margin-top: 0;
    margin-bottom: var(--space-tabs);
    justify-content: flex-end;
    width: 100%;
    z-index: 1000;
  }
}

.pill-dual-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 999px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: 55px;
  max-width: 115px;
  font-weight: bold;
  user-select: none;
  width: fit-content;
}

.pill-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.pill-side ion-icon {
  font-size: 20px;
  margin: 0 2px;
}

.divider {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 60%;
}

.fist-list{
  margin-top: 50px;
}