.editor-modal {
  padding: 16px;

  h2 {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 12px;
  }

  .editor-body {
    margin-bottom: 16px;
  }

  .days-list {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
