
<div
  class="avatar-wrapper"
  [class.editable]="editable"
  [style.width.px]="size"
  [style.height.px]="size"
  (click)="triggerFileInput()"
>
  <img *ngIf="!forcePlaceholder && image; else placeholder" [src]="image" alt="Foto profilo" />
  <ng-template #placeholder>
    <ion-icon name="person-circle-outline" id="profile-img-id" ></ion-icon>
  </ng-template>

  
</div>

<input
    id="fileInput"
    type="file"
    hidden
    accept="image/*"
    (change)="onImageSelected($event)"
    
  />





