<ion-menu content-id="main-content" menu-id="main-menu" side="start">
  <ion-header>
    <ion-toolbar style="--background: #7B1E1E; --color: #FFCC00;">
      <ion-title style="color: #FFCC00;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/tabs/home">
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/itinerario">
        <ion-label>Itinerario</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/profilo">
        <ion-label>Profilo</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-label>Esci</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
