<ion-content class="ion-padding" fullscreen>
  <div class="login-container">

    <!-- Form di registrazione -->
    <div class="form-block">
      <ion-input
        label="Username"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="username"
        maxlength="20">
      </ion-input>

      <ion-input
        label="Email"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="email"
        pattern="^[a-zA-Z0-9._%+-]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]+$"
        type="email"
        maxlength="30">
      </ion-input>

      <ion-input
        label="Password"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="password"
        type="password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
        autocomplete="new-password"
        required>
      </ion-input>

      <ion-button expand="block" color="primary" (click)="onRegister()" [disabled]="!isFormValid()">
        Registrati
      </ion-button>

      <ion-button expand="block" fill="clear" color="medium" (click)="goToLogin()">
        Hai già un account? Vai al login
      </ion-button>
    </div>

  </div>
</ion-content>