<app-navigation-bar title="Cambio credenziali" ></app-navigation-bar>

<ion-content [fullscreen]="true" class="scroll-page">

  <div class="login-container">

    <div class="form-block">

      <ion-input class="campoText" label="Username" label-placement="floating" fill="outline" [(ngModel)]="username" type="text" maxlength="30"></ion-input>
      <ion-input class="campoText" label="Email" label-placement="floating" fill="outline" [(ngModel)]="email" type="email"maxlength="30"
         pattern="^[a-zA-Z0-9._%+-]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]+$"
      ></ion-input>
      
      <ion-button class="bottone" expand="block" color="success" (click)="saveMail()"
        [disabled]="((username === usernameP && email === emailP) || !username || !email) && !isMailValid()" >Salva Mail</ion-button>
    </div>

    <div class="form-block">
      <ion-input class="campoText" label="Password attuale" label-placement="floating" fill="outline" [(ngModel)]="password" type="password" autocomplete="current-password"></ion-input>

      <ion-input class="campoText" label="Nuova Password" label-placement="floating" fill="outline" [(ngModel)]="newPassword" type="password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
      ></ion-input>
      <ion-input class="campoText" label="Conferma Password" label-placement="floating" fill="outline" [(ngModel)]="confirmPassword" type="password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
      ></ion-input>

      <ion-button class="bottone" expand="block" color="success" (click)="savePassword()"
        [disabled]="(!newPassword || !password || !confirmPassword) && !isPasswordValid()" >Salva Password</ion-button>

    </div>
  </div>


</ion-content>
