<app-navigation-bar title="Profilo" [backUrl]="'/tabs/settings'"></app-navigation-bar>

<ion-content class="profile-content" fullscreen>

  <!-- PROFILO UTENTE -->
  
    <ion-card class="boxes-style profile-main-card">
      <div class="profile-main-flex">
        <app-profile-icon
          [userId]="userId"
          [size]="120"
          [editable]="true"
          (changed)="profileImageUrl = $event">
        </app-profile-icon>
        <div class="user-info">
          <h2 class="user-name">{{ username || 'Nuovo utente' }}</h2>
          <div class="user-email">{{ email || 'email@example.com' }}</div>
          <ion-badge [class]="getBadgeClass(subscriptionPlan)">
            {{ subscriptionPlan || 'Standard' }}
          </ion-badge>
        </div>
        <div class="user-join" >
          Iscritto dal: <b>{{ registrationDate | date:'mediumDate' }}</b>
        </div>
      </div>
    </ion-card>
  

  <!-- ABBONAMENTO -->
  
    <ion-list class="boxes-style" lines="inset">
      <ion-list-header>
        <ion-icon name="ribbon-outline" slot="start"></ion-icon>
        <ion-label>Abbonamento</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label class="testo">Piano: <b>{{ subscriptionPlan || 'Standard' }}</b></ion-label>
        <ion-label *ngIf="subscriptionPlan != 'Standard'" class="testo" slot="end">Scadenza: <b>{{ subscriptionExpiry | date:'mediumDate' }}</b></ion-label>
      </ion-item>

      <ion-item button detail (click)="goToUpgrade()">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label class="testo" >Gestisci abbonamento</ion-label>
      </ion-item>
  </ion-list>



  <!-- SICUREZZA -->
  
    <ion-list lines="inset" class="boxes-style">
      <ion-list-header>
        <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
        <ion-label>Sicurezza</ion-label>
      </ion-list-header>
      <ion-item button detail (click)="changePassword()">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label class="testo" >Cambia password</ion-label>
      </ion-item>
      <ion-item lines="none" button detail (click)="confirmDeleteAccount()">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label class="delete-text">Elimina account</ion-label>
      </ion-item>
    </ion-list>


    <app-custom-alert
      [alertTitle]="'Elimina account'"
      [alertMessage]="'Sei sicuro di voler eliminare il tuo account?'"
      [cancelText]="'Annulla'"
      [confirmText]="'Elimina'"
      [(isVisible)]="isAlertVisible"
      (confirm)="deleteAccount()">
    </app-custom-alert>
<div class="with-floating-tabs"></div>
</ion-content>