<app-navigation-bar title="Storico" [backUrl]="'/tabs/viaggi'"></app-navigation-bar>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Lista viaggi passati -->
  <ng-container *ngIf="pastTrips.length > 0; else noTrips">
    <div class="trip-list">
      <app-trip-card
        *ngFor="let trip of pastTrips"
        [trip]="trip"
        (open)="goToTrip($event)"
        (remove)="deleteTrip($event)"
      ></app-trip-card>
    </div>
  </ng-container>

  <!-- Messaggio nessun viaggio -->
  <ng-template #noTrips>
    <ion-text color="medium">
      <p class="text-center">Non hai ancora viaggi passati.</p>
    </ion-text>
  </ng-template>

  <div class="with-floating-tabs"></div>
</ion-content>